
*{
	-webkit-appearance: none;
	box-sizing: border-box;
}

#navbar{
	width: 100%;
	top:0px;
	position: absolute;
}

.navitem{
	margin: 10px;
}

#navbar ul, footer ul{
	font-size: 14px;
}

footer{
	position: absolute;
	bottom: 50px;
	width: 100%;
	margin: 0px;
	clear: both;
	display: inline;
}

footer ul{
	background-color: LightGray;
	color: DarkSlateGray;
	clear: both;
}



#left, #left-footer{
	left: 0px;
	width: 50%;
	position: absolute;
	display: flex;
	justify-content: flex-start;
}

#right, #right-footer{
	right: 30px;
	width: 50%;
	position: absolute;
	display: flex;
	justify-content: flex-end;
}

#center{
	left:0;
	right:0;
	top: 200px;
	height: 250px;
	width: 500px;
	position: absolute;
	margin: auto;

	display: grid;

	
	grid-template-rows: 100px 50px 50px;
	grid-template-columns: 50px 200px 200px 50px;
	grid-template-areas: 	". a a ."
							"b b b b"
							". c c .";

}

#logo{
	grid-area: a;
	justify-self: center;
	align-self: start;
}

#query{
	align-self: center;
	grid-area: b;
	height: 40px;
	width: 500px;
	border-radius: 40px;
	background-image: url("../images/magnifying-glass.jpg");
	background-size: contain;
	background-color: transparent;
	background-repeat: no-repeat;
	padding-left: 40px;
	font-size: 16px;

}

.buttons{
	justify-self: center;
	align-self: end;
	grid-area: c;
}

#search, #lucky{
	height: 35px;
	border-radius: 5px
}

#search{
	border: solid;
	border-width: 1px;
	border-color: gray;
	color: blue;
}

#lucky{
	border: none;
	color: blue;
}
button{
	background-color: white;
}

#attributions{
	position: absolute;
	bottom:40px;
	left:0px;
}

ul{
	list-style-type:none;
}
